:root{
    --font-color: rgb(246, 246, 246);
    --back-color1: #01febb;
    --back-color2: #59558a;
    --boby-color: #001331 ;
    --font-size: 50px;
}
*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100% ;
    background: linear-gradient(135deg, var(--back-color1), var(--back-color2) 70% );
}
.container{
    background-color: aliceblue;
    width: 400px;
    min-height: 200px;
    max-height: 600px ;
    height: max-content;
    padding-bottom: 70px ;
    margin: 70px auto;
    border: none;
    border-radius: 8px;
    overflow: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(31, 31, 31);
    font-weight: 450;
    margin: 20px auto 10px;
}
.task-adder{
    display: flex;
    background-color: bisque;
    border: 1px solid rgb(140, 139, 139);
    border-radius: 8px;
    height: 40px;
    width: 320px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}
.task-adder input{
    outline: none;
    border: none;
    border-radius: 7px 0 0 7px;
    height: 100%;
    width: 264px;
    padding: 5px;

}
.task-adder button{
    background-color: #ffb01f;
    color: white;
    border: none;
    margin: 0;
    height: 100%;
    width: 55px;
    cursor: pointer;
}
.task-adder button:hover{
    background-color: #d9ae5d ;
}
.task-adder button:active{
     background-color: #c39c53 ;
}
.tasks{
    position: relative;
    margin-left: 70px ;
    top: 10px;
}
.unchecked{
    position: relative;
    cursor: pointer;
    padding-top: 2px ;
    padding-left: 35px ;
    min-height: 30px;
    width: 300px; 
    transition: 0.3s ease-in-out;
    overflow-wrap:anywheres ;
} 
.checked{
    padding-top: 2px ;
    padding-left: 35px ;
    height: 30px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.394);
    transition: 0.3s ease-in-out;
}
.unchecked, .checked {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center; /* Vertically centers text if it's only one line */
    
    /* 1. ALLOW GROWTH */
    height: auto; 
    min-height: 35px; 
    
    /* 2. HANDLE WRAPPING */
    width: 300px;
    padding: 5px 45px 5px 35px; /* Top, Right (for X button), Bottom, Left (for checkbox) */
    word-break: break-word;
}



.unchecked::before{
    content: '';
    position: absolute;
    left: 0;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    background-image: url(assets/unchecked.png);
    background-size:contain;
}
.checked::before{
    content: '';
    position: absolute;
    left: 0;
    height: 22px;
    width: 22px;
    background-image: url(assets/checked.png);
    background-size:contain;
}

.delete-btn{
    display: inline-block;
    position: absolute;
    right: 50px;
    background-color: rgba(127, 123, 123, 0.308);
    width: 20px; 
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: rgba(0, 0, 0, 0.339) ;
}
.delete-btn:active{
    background-color: rgba(0, 0, 0, 0.404) ;
}

